.app-aside {
    float: left;
    @at-root{
        @media (min-width: 768px){
            .app-aside{
                width: $leftWidth;
            }
        }
        .aside-wrap{
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            width: $leftWidth;
            overflow: hidden;
            color: #7793a7;
            background-color: #1c2b36;
        }
        .nav-wrap {
            position: relative;
            width: $leftWidth + 17px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .line {
                width: 100%;
                height: 2px;
                margin: 0 0 10px 0;
                overflow: hidden;
                font-size: 0;
                background-color: #131e26;
            }
        }
        .nav-wrap .nav {
            a{
                position: relative;
                display: block;
                padding: 6px 20px;
                font-weight: normal;
                text-transform: none;
                transition: background-color 0.2s ease-in-out 0s;       
            }
            & > li {
                & > a{
                    color: #869fb1;
                    &:hover, &:focus{
                        background-color: #16232d;
                    }
                    & > i{
                        position: relative;
                        float: left;
                        width: 40px;
                        margin: -10px -10px;
                        margin-right: 5px;
                        overflow: hidden;
                        line-height: 40px;
                        text-align: center;
                    }
                }
                &:hover > a, &:focus > a, &.active > a{
                    background-color: #131e26;
                    color: #fff;
                }
            }
            span{
                vertical-align: middle;
            }
        } 
        .nav-sub {
            height: 0;
            margin-left: -20px;
            overflow: hidden;
            opacity: 0;
            background-color: #131e26;
            -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
            a{
                padding-left: 50px!important;
            }
        }
        .text-muted {
            color: #5c798f;
        }
        .text-active {
            display: inline-block;
        }
        .text-active {
            display: none;
        }
        .active > .text-active, .active > .auto .text-active {
            display: inline-block;
        }
        .text-active, .active > .text, .active > .auto .text {
            display: none;
        }
    }
}